 <html xmlns:th="http://www.thymeleaf.org">

 <header th:insert="fragments/header.html :: header"> </header>
	<a th:href="@{/books/new}" class="btn btn-primary">New</a>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Year</th>
				<th>Author</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
	    <tr th:each="book: ${books}">
	        <td th:text="${book.id}" />
	        <td th:text="${book.title}" />
	        <td th:text="${book.year}" />
	        <td th:text="${book.author}" />
	        <td th:text="${book.email}" />
	        <td >
	        	<a th:href="@{/books/{id}(id = ${book.id})}" class="btn btn-primary">View</a> 
	        	<a th:href="@{/books/delete/{id}(id = ${book.id})}" class="btn btn-primary">Delete</a> 
	        </td>
	    </tr>
		</tbody>
	</table>
	
</body>
</html>